.UniversityInfo{
    margin: 30px 0px 0 0;
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: row;
}

.InfoBox.disable{
    display: none;
}

.InfoBox{
    display: flex;
    flex-direction: column;
    text-align: start;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
    background: rgba(52, 59, 83, 0.2);
    box-shadow: 6px 6px 20px #262A3B;
    border-radius: 10px;
    width: 100%;
}

.Icon{
    display: flex;
    object-fit: cover;
    border-radius: 10px;
    width: 10vw;
    height: 10vw;
    margin: 0px 15px;
    background: white;
}

.name{
    margin-top: 10px;
    margin: 10px 30px;
    font-size: 1.3vw;
}

.rate{
    font-weight: 500;
    margin: 10px 30px;
    font-size: 1.1vw;
}

.city{
    font-weight: 500;
    margin: 10px 30px;
    font-size: 1.1vw;
}

.span.positive{
    color: lightgreen;
}

.span{
    margin-left: 10px;
    font-weight: 800;
    line-height: 30px;
    color: #ED9294;
}

.img_block{
    display: flex;
    flex-direction: column;
}

.arrow{
    background: #343B53;
    box-shadow: 6px 6px 20px #262A3B;
    border-radius: 10px;
    width: 10vw;
    height: 25px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    user-select: none;
    color: white;
}

.text_box{
    margin-top: 2vw;
    width: 100%;
}

.UniversityFullInfo{
    display: none;
}

.UniversityFullInfo.active{
    display: flex;
}